{% extends 'base.html' %}
{% block title %}Twitter{% endblock %}

{% block content %}
<h1>Feedback</h1>
<p>This is the feedback page!</p>

<form id='feedbacks' method = 'POST'>
    {{ form.hidden_tag() }}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field(class_='form-control')}}

            {% for error in field.errors %}
            <span class='form-text text-danger'>{{error}}</span>
            {% endfor %}
        </p>
        {% endfor %}
        <button class = 'btn btn-success' type='submit'>Post Your Feedback</button>
    </form>

<ul>
     {% for post in feedback %}
        <div>
            <div class='card my-2'>
                <div class='card-body'>
                    <h5 class='card-title text-info'><b>{{post.title}}</b> - {{post.user.username}}</h5>
                    <h6 class='card-subtitle mb-2 text-muted'>Date goes here</h6>
                    <p class='card-text'>
                        {{post.content}}
                    </p>
                    {% if session['username'] == post.username %}
                    <form style= 'display:inline' action='/feedbacks/{{post.id}}' method='POST'>
                    <button class='btn  btn-sm btn-danger'> Remove</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</ul>

{% endblock %}